@font-face {
    font-family: foodFont;
    src: url('images/AlphaSausage.ttf') format('truetype');
}

.topnav{
    width: 100%;
    height: 80px;
    position: relative;
    left: 0px;
    background-color: #72040d;
}

.topnav img{
    margin-left: 15px;
    float:left;
    height:100%
}

img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0px;
}

b.logoFont{
    margin-left: 15px;
    font-family: foodFont;
    font-size: 45px;
    text-align:center; 
    position: left;
    color: orange;
}

a.navFont{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    color:orange;
    margin-left: 20px;
}

a.navFont:hover{
    font-weight: bold;
    color: orange;
    text-decoration: none;
}

.bodypage{
    width:100%;
    height:auto;
    float: left;
    margin-top: 40px;
}

.carousel-class{
    width: 900px;
    height: auto;
    float:left;
}

ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.demo .item{
    margin-top: 0 px;
    margin-bottom: 40px;
}
.content-slider li{
    background-color: whitesmoke;
    text-align: center;
    color: #FFF;
    width: 100px;
    border: 1px solid rgb(197, 195, 195);
}
.content-slider h3 {
    margin: 0;
    padding:70px 0;
}
.demo{
    margin-top: 40px;
    margin-left: 80px;
    width: 500px;
}
.demo img{
    margin-top: 5px;;
    width:150px;
    height: 150px;
    border-radius:40%;
}
.image-container{
    width:100%;
    height:200px;
    text-align: center;
}
.image-container h4{
    color: black;
    font-weight: bold;
}

.market{
    width: 100%;
    height: 380px;
    float:left;
    background-color: rgb(214, 202, 202);
    text-align: center;
}

.market-inside{
    width: 1160px;
    height: 250px;
    margin-left: 50px;
    margin-top: 60px;
}

.offer{
    width: 250px;
    height: 250px;
    float:left;
    margin-left: 20px;  
    margin-right: 20px;
    background-color: rgb(141, 194, 35);
}

.offer img{
    width:100%;
    height:100%;
}

.brands-tag{
    width:100%;
    height:100px;
    background-color: whitesmoke;
    float:left;
    text-align: center;
}

.brands-tag-inside{
    margin-top: 40px;
}
.bestseller{
    width: 100%;
    height:400px;
    float: left;
    background-color:whitesmoke;
}

.bestseller-inside{
    width: 1170px;
    height: auto;
    margin-top: 30px;
    margin-left:50px;
    float: left;
    margin-bottom: 40px;
}

.bestseller .seller{
    width: 255px;
    height:270px;
    float:left;
    margin:18px 18px;   
    background-color: white;
}

.sellerinfo{
    width: 255px;
    height: 90px;
    margin-left: 20px;
    margin-top: 15px;
    float:left;
}

.sellerinfo button.btn-xs{
    background-color: rgb(46, 175, 46);
    color:white;
    border: 0px;
}

.sellerinfo button{
    background-color: gray;
    color:white;
    border: 0px;
    margin-right: 30px;
}

.sellerinfo button:hover{
    background-color: white;
    color:gray;
    border: 1px solid gray;
}

.become-member{
    width:100%;
    height: 250px;
    background-color: white;
    float:left;
    text-align: center;
}

.become-member-inside{
    width: auto;
    margin-top: 50px;
}

.become-member-button{
    width: 250px;
    margin-top: 40px;
    margin-left: 510px;
}

.become-member-button button{
    background-color: green;
    color: white;
}

.become-member-button button:hover{
    background-color: white;
    color: green;
    border: 1px solid green;
}

.work-with-us{
    width:100%;
    height:150px;
    background-color: whitesmoke;
    float:left;
    text-align: center;
}

.work-with-us-inside{
    width: auto;
    margin-top: 50px;
}

.hovertext{
    color:red;
}

.hovertext:hover{
    color: blue;
}

.about-section{
    width:100%;
    height: 300px;
    float: left;
    background-color: rgb(221, 216, 216);
}

.about-section-inside{
    width: 400px;
    height: 80%;
    margin-top: 30px;
    margin-left: 100px;
    float: left;
}

.buttonsection{
    float:left;
    width: 400px;
    height: auto;
}

.buttonsection input{
    width:70%;
    float:left;
}

.buttonsection button{
    width:30%;
    float:left;
    background-color: red;
    color: white;
    font-weight: bold;
}

.buttonsection button:hover{
    width:30%;
    float:left;
    color: red;
    background-color: white;
    border: 1px solid red;
}

.text{
    margin-top: 10px;
    width:100%;
    float: left;
}

.textwithhover{
    font-weight: bold;
    color:red;
}

.textwithhover:hover{
    font-weight: bold;
    color: rgb(6, 97, 97);
}

.bothbagdes{
    width: 100%;
    height: auto;
    background-color: red;
    vertical-align: middle;
}

.bagde{
    float: left;
    height: 55px;
}

.badge image:hover{
    border: 1px solid gray;
}

.about-section-column{
    width: 200px;
    height: 80%;
    float: left;
    margin-top: 30px;
    margin-left: 40px;
}

.about-section-column a{
    color: black;
}

.about-section-column a:hover{
    font-style: normal;
    color: brown;
    text-decoration: none;
}

.about-section-column a:visited{
    text-decoration: none;
}




