
/* put . before selector if you are working on class otherwise don't put dot while working on 
css element itself */

/*Top Navigation bar*/
.topnav{
    width: 100%;
    height: 80px;
    position: relative;
    left: 0px;
}

.topnav img{
    float:left;
    height:100%
}

/*Height wand width of left and right div*/
.leftside, .rightside{
    height: 100vh;
    width: 100%;
}
/*This is to auto-fit the mage within div*/
img {
    max-width: 100%;
    max-height: 100%;
}

/* Division inside right-half of the page*/
.content{
    background-color: #fefefe;
    margin: 2% auto 10% auto;
    width: 80%;
    text-align: center;

    /*can add text-align for keeing the text and margin-bottom so that they will have 
    space between two fields by keeping space at bottom*/
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 92.5%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/*Input field is getting focused when clicked*/
input[type=text]:focus, input[type=password]:focus {
    color: #7a0f0f;
    transition: 0.2s ease;
    border-bottom: 2px solid #7a0f0f;
}

/* Adding a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Setting a style for all buttons */
button {
    background-color: #ab1707;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9; /*makes the color less bright*/
    border-radius: 3px;
  }

  
button:hover, button:focus {
    opacity:0.9;
    border-radius: 3px; /*radius at corners of the box*/
    box-shadow: 0 2px gray;
  }

/*This is submit button which will store the data to database, post operation is happening*/
submit{
    
}


.redfont{
    color: #ab1707;
  }
.redfont:hover{
    background-color: #dfc8c8;
    color: black;
    transition: 0.2s ease; 
}

  /*Adding widths to buttons*/
  .googlebtn, .facebookbtn {
    margin: 0 5px;
    float: left;
    width: 90%;
  }

  button.googlebtn{
      float: left;
      background-color: #fc4221;
  }
  button.facebookbtn{
      float: right;
    background-color: #2984f2;
}
/* Use active property so that it will show what is active currently (on which field you 
have clicked recently) */